/******************************************************************
Site Name: Div Ready
Stylesheet: Tablet & Small Desktop Stylesheet

    ** imports _768up-nav.scss
******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {}

/*********************
LAYOUT & GRID STYLES
*********************/
.full{display: block;}
.mobile{display:none;}
.wrap {
	max-width: $grid;
}

/*********************
HEADER SYTLES
*********************/
.header {
	#logo-wrap{
		@extend .eightcol;
		@extend .first;
	}
}

/*********************
NAVIGATION STYLES
*********************/
@import '767up-nav';


/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	@extend .twelvecol;
	@extend .first;
	#inner-content {
		#main {
			@extend .eightcol;
			@extend .first;
			min-height: 500px;
		}
	}
}

/********************
ARTICLE STYLES
*********************/


/*********************
SIDEBARS & ASIDES
*********************/
#sidebars{
	@extend .fourcol;
	@extend .last;
}
.sidebar {
	
	.widgettitle {
		
	}

	.widget {
		
		ul {
			li {
				
				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					
				}
			}
		}
	}
}

/*********************
FOOTER STYLES
*********************/
.footer {
	@extend .twelvecol;
	@extend .first;
	
	#inner-footer {
		ul {
			li {
				a {
					&:hover {}
				}
				ul {}
			}
		}	
	}
} /* end .footer */